body {
    margin: 0;
}
.topnav {
    overflow: hidden;
    background-color: rgb(246, 165, 165);
}
.topnav a {
    float: right;
    color: #f2f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #4a304c;
    color: white;
}
.account-page {
    padding: 50px 0;
    background: radial-gradient(#fff, #ffd6d6);
} 
.form-container {
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow:0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;
}
.form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}
form input {
    width: 80%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
#LoginForm {
    left: -300px;
}
#RegForm {
    left: 0;
}
form a {
    font-size: 12px;
}
#Indicator {
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}

